img {
    width: 100%;
}

.slideContainer {
    max-width: 851px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.mySlides {
    position: relative;
}

.caption {
    color: #f2f2f2;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -35px;
}

.dot {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    background-color:#bbb;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transition: background-color .4s ease;
}

.active, .dot:hover {
    background-color: #333;
}

.prev, .next {
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: #f2f2f2;
    padding: 15px 10px 10px 5px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    transition: background-color .4s ease;
}

.next {
    border-radius: 5px 0 0 5px;
    padding: 15px 5px 10px 10px;
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, .7);
}

.fade {
    animation: fade .6s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    50% {
        opacity: .6;
    }
    to {
        opacity: 1;
    }
}

.slideNext {
    animation: slideNext 1s;
    -webkit-animation: slideNext 1s;
}

@keyframes slideNext {
    from {
        left: -851px;
    }
    to {
        left: 0;
    }
}

.slidePrev {
    animation: slidePrev 1s;
    -webkit-animation: slidePrev 1s;
}

@keyframes slidePrev {
    from {
        right: -851px;
    }
    to {
        right: 0;
    }
}

